[submodule "FileStorageReborn"]
	path = FileStorageReborn
	url = https://github.com/Skr0ls/FileStorageReborn

[submodule "message_backend"]
	path = message_backend
	url = https://github.com/Sinzxc/message_backend

[submodule "message_frontend"]
	path = message_frontend
	url = https://github.com/Sinzxc/message_frontend